body{
    background-color: #000000;
}
#container{
    height: 300px;
    width: 500px;
    border: 10px solid #676dad;
    margin: 50px auto;
    background-color: #9688b1 ;

}

h1{
    text-align: center;
    color: white;

}

#number{
    height: 30px;
    width: 300px;
    border: 2px solid black;
    margin: 50px auto;
    text-align: center;
    background-color: white ;

}

#increment{
    height: 30px;
    width: 100px;
    margin-top: 50px;
    margin-left: 125px;

}

#decrement{
    height: 30px;
    width: 100px;
    margin-top: 75px;
    margin-left: 75px;

}